<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
        <!-- 必须的 meta 标签 -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>图书管理系统</title>
  <!-- <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"> -->
	<!-- <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.min.css}"> -->
  <!--只有用链接来进行引用才能够使font-awesome的图片显示出来，本地形式的引入是不能显示图片的-->
	<!-- <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
  <script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

  <!-- <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script> -->
    
</head>
<body style="background-color:white;">
  <div class="container">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 class="text-center bg-primary p-2">借阅书籍</h2>
        <div>
          <div class="row">
            <!-- 书本封面 -->
            <div class="col-md-6" id="b_image">
              <img th:src="@{/}+${book.cover}" alt="封面" width="300" height="400" />
            </div>
            <!-- 书本信息 -->
            <div class="col-md-6">
                <h3>[[${book.title}]]</h3>
                <hr>
                <p>作者:[[${book.author}]]</p>
                <p>出版社:[[${book.press}]]</p>
                <p>类别:[[${book.category.name}]]</p>
                <p>ISBN:[[${book.isbn}]]</p>
                <p>剩余数量:[[${book.amount}]]</p>
                <hr>
                <hr> 
            </div>           
        </div>
        <!--书本信息结束-->
        <form th:action="@{/borrow/addborrow}" method="POST">
          <div class="row form-group mt-5">
            <label form="date" class="col-sm-3 col-form-label">借阅日期</label>
            <div class="col-sm-4">
              <div class="input-group date" id="datepicker">
                <input type="text" class="form-control" name="borrowedFrom" required/>
                <span class="input-group-append">
                  <span class="input-group-text bg-white">
                    <i class="fa fa-calendar"></i>
                  </span>
                </span>
              </div>
            </div>
          </div>

          <div class="row form-group mt-5">
            <label form="date" class="col-sm-3 col-form-label">预计还书日期</label>
            <div class="col-sm-4">
              <div class="input-group date" id="datepickerr">
                <input type="text" class="form-control" name="borrowedTo" required/>
                <span class="input-group-append">
                  <span class="input-group-text bg-white">
                    <i class="fa fa-calendar"></i>
                  </span>
                </span>
              </div>
            </div>
          </div>
            <button type="submit" class="btn btn-outline-info mt-4" >确认借阅</button>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
</body>
</html>
<script type="text/javascript">
  $(function(){
    $('#datepicker').datepicker()
  }),
  $(function(){
    $('#datepickerr').datepicker()
  })
</script>