<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
        <!-- 必须的 meta 标签 -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>图书管理系统</title>
   <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
   <script th:src="@{/js/jquery.js}"></script>
   <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    
</head>

<body>
    <div class="event-schedule-area-two bg-color pad100">
        <div class="container">
            <!-- row end-->
            <div class="row">
                <div class="col-lg-12">
                    <!--导航栏-->
                    <div class="container mt-5" th:include="navbar">
                    </div>
                    <!--导航栏结束-->
                    <div class="tab-content mt-5" id="myTabContent">
                        <div class="tab-pane fade active show" id="home" role="tabpanel">
                            <div class="mb-2">
                                <table>
                                    <td th:if="${session.user!=null && session.user.usertype == 'admin'}">
                                        <a th:href="@{http://localhost:9999/book/addbook}" class="btn btn-nm btn-success">添加书籍</a>
                                    </td>
                                    <td>
                                        <!--搜索框-->
                                        <form th:action="@{/book/searchbook}" method="post" class="form-inline my-2 my-lg-0">
                                            <input name="search" class="form-control mr-sm-2" type="search" placeholder="书名/作者/ISBN/出版社" aria-label="Search">
                                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                                        </form>
                                        <!--搜索框结束-->
                                    </td>
                                </table>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">序号</th>
                                            <th scope="col">封面</th>
                                            <th scope="col">书名</th>
                                            <th scope="col">作者</th>
                                            <th scope="col">类别</th>
                                            <th scope="col">数量</th>
                                            <th class="text-center" scope="col">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="inner-box" th:each="book,stats:${bucher}">
                                            <!--序号-->
                                            <td scope="row">
                                                <div class="event-date">
                                                    <span th:text="${stats.count}"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="event-img">
                                                    <img th:src="@{/}+${book.cover}" alt="封面" width="150px" height="200px" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="event-wrap">
                                                    <h3 th:text="${book.title}"></h3>
                                                    <div class="meta">
                                                        <div class="organizers">
                                                            <span th:text="${book.press}"></span>
                                                        </div>
                                                        <div class="categories">
                                                            ISBN <span th:text="${book.isbn}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="r-no">
                                                    <span th:text="${book.author}"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="r-no">
                                                    <span th:text="${book.category.name}"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="r-no">
                                                    <span th:text="${book.amount}"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="r-no text-center">
                                                    <a th:if="${session.user!=null && book.amount!=0}" th:href="@{/borrow/createborrow/}+${book.id}" class="btn btn-primary btn-sm" onclick="getbook()">借阅</a>
                                                    <span th:if="${session.user==null}">登录后借阅</span>
                                                    <script>
                                                        function getbook(){
                                                            location.href='[[@{/book/getbook}]]';
                                                        }
                                                    </script>
                                                    <span th:if="${book.amount==0}">已借完</span>
                                                    <a th:if="${session.user!=null && session.user.usertype == 'admin'}" th:href="@{./edit/}+${book.id}" class="btn btn-sm btn-primary" 
                                                        >编辑</a>
                                                    <!-- <button th:if="${session.user!=null && session.user.usertype == 'admin'}" th:id="${book.id}" class="btn btn-danger btn-sm" th:onclick="deleteBook(this.getAttribute('id'))">删除</button> -->
                                                    <!-- Button trigger modal -->
                                                    <button th:if="${session.user!=null && session.user.usertype == 'admin'}" type="button" class="btn btn-danger btn-sm" data-toggle="modal" th:data-target="'#exampleModal-'+${book.id}">
                                                        删除
                                                    </button>
                                                    
                                                    <!-- Modal -->
                                                    <div class="modal fade" th:id="'exampleModal-'+${book.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">删除</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                确认要删除书本“[[${book.title}]]”吗？
                                                            </div>
                                                            <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                                                            <button type="button" class="btn btn-danger" th:id="${book.id}" th:onclick="deleteBook(this.getAttribute('id'))">确认删除</button>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                    <!-- 模态框结束 -->
                                                    <script>
                                                	function deleteBook(id){
                                                		$.ajax({
                                                      url:"./delete/"+id,
                                                      dataType:"text",
                                                      type:"GET",
                                                      success:function(req){
                                                        //获取返回信息
                                                        if(req=="true"){
                                                          alert("删除成功"),
                                                          $("#"+id).parent().remove(),
                                                          location.href='[[@{/book/getbook}]]'
                                                        }
                                                      },
                                                    });
                                                	}
                                                    </script>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>

                            </div>

                            <!--换页-->
                            <div class="row">
                                <div class="col-md-8">
                                <nav aria-label="Page navigation example" th:if="${books.getTotalPages() gt 1}">
                                    <ul class="pagination justify-content-end">
                    
                                       <li th:if="${books.hasPrevious()}" class="page-item">
                                           <a th:href="@{/book/getbook?index=1}" href="/book/getbook?index=1" class="page-link">&lt;&lt;</a>
                                           <!-- <a th:href="@{/book/getbook?index=1}" href="/book/getbook?index=1" class="page-link">&lt;&lt;</a> -->
                                        </li>
                                        <li th:if="${books.hasPrevious()}" class="page-item">
                                            <a th:href="@{/book/getbook?index={v}&step={s}(v=${books.getNumber()},s=${books.getSize()})}" href="/book/getbook?index=&step=" class="page-link">&lt;</a>
                                        </li>
                    
                                       <li th:unless="${books.hasPrevious()}" class="page-item disabled"><a href="#" class="page-link">&lt;&lt;</a></li>
                                        <li th:unless="${books.hasPrevious()}" class="page-item disabled"><a href="#" class="page-link">&lt;</a></li>
                    
                                       <li th:if="${books.getTotalPages() le 7}" th:each="i:${#numbers.sequence(1, books.getTotalPages())} " th:class="${i eq books.getNumber()+1}?'page-item active':'page-item'">
                                            <a th:href="@{/book/getbook?index={v}&step={s}(v=${i}, s=${books.getSize()})}" href="/book/getbook?index=&step=" th:text="${i}" class="page-link"></a>
                                        </li>
                    
                                        <li th:if="${books.getTotalPages() gt 7}" th:each="i:${#numbers.sequence(1, 3)}" th:class="${i eq books.getNumber()+1}?'page-item active':'page-item'">
                                            <a th:href="@{/book/getbook?index={v}&step={s}(v=${i}, s=${books.getSize()})}" href="/book/getbook?index=&step=" th:text="${i}" class="page-link"></a>
                                        </li>
                                        <li th:if="${books.getTotalPages() gt 7}" th:class="'page-item disabled'">
                                            <a href="#" class="page-link">...</a>
                                        </li>
                                        <li th:if="${books.getTotalPages() gt 7}" th:each="i:${#numbers.sequence(books.getTotalPages()-2, books.getTotalPages())}" th:class="${i eq books.getNumber()+1}?'page-item active':'page-item'">
                                            <a th:href="@{/book/getbook?index={v}&step={s}(v=${i}, s=${books.getSize()})}" href="/book/getbook?index=&step=" th:text="${i}" class="page-link"></a>
                                        </li>
                    
                                        <li th:if="${books.hasNext()}" class="page-item">
                                            <a th:href="@{/book/getbook?index={v}&step={s}(v=${books.getNumber()+2},s=${books.getSize()})}" href="/book/getbook?index=&step=" class="page-link">&gt;</a>
                                        </li>
                                        <li th:if="${books.hasNext()}" class="page-item">
                                            <a th:href="@{/book/getbook?index={v}(v=${books.getTotalPages()})}" href="/book/getbook?index=" class="page-link">&gt;&gt;</a>
                                        </li>
                    
                                        <li th:unless="${books.hasNext()}" class="page-item disabled"><a href="#" class="page-link">&gt;</a></li>
                                        <li th:unless="${books.hasNext()}" class="page-item disabled"><a href="#" class="page-link">&gt;&gt;</a></li>
                    
                                    </ul>
                                </nav>
                                </div>
                            </div>
                            <!--换页结束-->

                        </div>


                    </div>
                </div>
                <!-- /col end-->
            </div>
            <!-- /row end-->
        </div>
    </div>
</body>
    
</html>

