<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
        <!-- 必须的 meta 标签 -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>图书管理系统</title>
   <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
   <script th:src="@{/js/jquery.js}"></script>
   <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    
</head>

<body>
    <div class="event-schedule-area-two bg-color pad100">
        <div class="container">
            <!-- row end-->
            <div class="row">
                <div class="col-lg-12">
                    <!--导航栏-->
                    <div class="container mt-5">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <a class="navbar-brand navbar-disabled">图书管理系统</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarText">
                              <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                  <a class="nav-link" th:href="@{'http://localhost:9999/book/getbook'}">所有书籍</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#">借阅信息</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#">通知公告</a>
                                </li>
                              </ul>
                              
                              您好,<span class="nav-link navbar-disabled" th:if="${session.user!=null}" th:text="${session.user.username}">
                              </span>
                              <span class="nav-link navbar-disabled" th:if="${session.user==null}">
                                  游客
                            </span>!
                            </div>
                          </nav>
                    </div>
                    <!--导航栏结束-->
                    <div class="tab-content mt-5" id="myTabContent">
                        <div class="tab-pane fade active show" id="home" role="tabpanel">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">序号</th>
                                            <th scope="col">封面</th>
                                            <th scope="col">书名</th>
                                            <th scope="col">作者</th>
                                            <th scope="col">类别</th>
                                            <th scope="col">数量</th>
                                            <th scope="col">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="inner-box" th:each="book,stats:${books}">
                                            <!--序号-->
                                            <td scope="row">
                                                <div class="event-date">
                                                    <span th:text="${stats.count}"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="event-img">
                                                    <img th:src="@{/}+${book.cover}" alt="封面" width="150px" height="200px" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="event-wrap">
                                                    <h3 th:text="${book.title}"></h3>
                                                    <div class="meta">
                                                        <div class="organizers">
                                                            <span th:text="${book.press}"></span>
                                                        </div>
                                                        <div class="categories">
                                                            ISBN <span th:text="${book.isbn}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="r-no">
                                                    <span th:text="${book.author}"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="r-no">
                                                    <span th:text="${book.category.name}"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="r-no">
                                                    <span th:text="${book.amount}"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="r-no">
                                                    <a class="btn btn-primary btn-sm" href="#">借阅</a>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- /col end-->
            </div>
            <!-- /row end-->
        </div>
    </div>
</body>
    
</html>

