<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
        <!-- 必须的 meta 标签 -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>图书管理系统</title>
   <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
   <script th:src="@{/js/jquery.js}"></script>
   <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    
</head>

<body>
    <div class="event-schedule-area-two bg-color pad100">
        <div class="container">
            <!-- row end-->
            <div class="row">
                <div class="col-lg-12">
                    <!--导航栏-->
                    <div class="container mt-5">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <a class="navbar-brand navbar-disabled">图书管理系统</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarText">
                              <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                  <a class="nav-link" th:href="@{'http://localhost:9999/book/getbook'}">所有书籍</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#">借阅信息</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#">通知公告</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{'http://localhost:9999/category/getcat'}">类别管理</a>
                                </li>
                              </ul>

                                <div class="dropdown">
                                    <button class="btn btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"
                                    >[[${session.user!=null?session.user.username:'游客'}]]
                                    </button>
                                    <div th:if="${session.user!=null}" class="dropdown-menu">
                                      <button class="dropdown-item" type="button">个人信息</button>
                                      <button class="dropdown-item" type="button" onclick="logout()">退出</button>
                                      <script>
                                          function logout(){
                                              $.ajax({
                                                  url:"/user/logout",
                                                  dataType:"text",
                                                  type:"GET",
                                                  success:function(req){
                                                    location.href = '[[@{/login}]]';
                                                  }
                                              });
                                            
                                          }
                                      </script>
                                    </div>

                                    <div th:if="${session.user==null}" class="dropdown-menu">
                                        <button class="dropdown-item" type="button" onclick="login()">登录</button>
                                        <script>
                                            function login(){
                                                location.href = '[[@{/login}]]';
                                            }
                                        </script>
                                        <button class="dropdown-item" type="button">注册</button>
                                        <script>
                                            function register(){
                                                location.href = '[[@{/register}]]';
                                            }
                                        </script>
                                    </div>

                                  </div>

                            </div>
                          </nav>
                    </div>
                    <!--导航栏结束-->
                    <div class="container mt-5">
                        <table class="table table-sm table-bordered">
                            <thead>
                                <th>序号</th>
                                <th>封面</th>
                                <th>书名</th>
                                <th>始借日期</th>
                                <th>到期日期</th>
                                <th>操作</th>
                            </thead>
                            <tbody>
                                <tr th:each="borrow,stats:${borrows}">
                                    <td>[[${stats.count}]]</td>
                                    <td>
                                        <img th:src="@{/}+${borrow.book.cover}" alt="封面" width="75px" height="100px" />
                                    </td>
                                    <td>[[${borrow.book.title}]]</td>
                                    <td>[[${borrow.borrowedFrom}]]</td>
                                    <td>[[${borrow.borrowedTo}]]</td>
                                    <td>
                                        <button th:if="${borrow.returnDate==null}" th:id="${borrow.id}" class="btn btn-warning btn-sm" th:onclick="returnBook(this.getAttribute('id'))">还书</button>
                                        <span th:if="${borrow.returnDate!=null}">已还书:[[${borrow.returnDate}]]</span>
                                        <script>
                                        function returnBook(id){
                                            $.ajax({
                                          url:"/borrow/returnbook/"+id,
                                          dataType:"text",
                                          type:"GET",
                                          success:function(req){
                                            //获取返回信息
                                            if(req=="true"){
                                              alert("还书成功"),
                                              $("#"+id).parent().remove()
                                            }
                                          },
                                          //成功删除后刷新页面
                                            success:function(){
                                                location.href='[[@{/borrow/getborrow/}+${session.user.id}]]'
                                            }
                                        });
                                        }
                                        </script>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
</body>
    
</html>