<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
        <!-- 必须的 meta 标签 -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>图书管理系统</title>
   <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
   <script th:src="@{/js/jquery.js}"></script>
   <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    
</head>

<body>
    <div class="event-schedule-area-two bg-color pad100">
        <div class="container">
            <!-- row end-->
            <div class="row">
                <div class="col-lg-12">
                    <!--导航栏-->
                    <div class="container mt-5" th:include="navbar">
                    </div>
                    <!--导航栏结束-->
                    <div class="container mt-5">
                        <table class="table table-sm table-bordered">
                            <thead>
                                <th>序号</th>
                                <th>封面</th>
                                <th>书名</th>
                                <th>始借日期</th>
                                <th>到期日期</th>
                                <th>操作</th>
                            </thead>
                            <tbody>
                                <tr th:each="borrow,stats:${borrows}">
                                    <td>[[${stats.count}]]</td>
                                    <td>
                                        <img th:src="@{/}+${borrow.book.cover}" alt="封面" width="75px" height="100px" />
                                    </td>
                                    <td>[[${borrow.book.title}]]</td>
                                    <td>[[${borrow.borrowedFrom}]]</td>
                                    <td>[[${borrow.borrowedTo}]]</td>
                                    <td>
                                        <button th:if="${borrow.returnDate==null}" th:id="${borrow.id}" class="btn btn-warning btn-sm" th:onclick="returnBook(this.getAttribute('id'))">还书</button>
                                        <span th:if="${borrow.returnDate!=null}">已还书:[[${borrow.returnDate}]]</span>
                                        <script>
                                        function returnBook(id){
                                            $.ajax({
                                          url:"/borrow/returnbook/"+id,
                                          dataType:"text",
                                          type:"GET",
                                          success:function(req){
                                            //获取返回信息
                                            if(req=="true"){
                                              alert("还书成功"),
                                              $("#"+id).parent().remove()
                                            }
                                          },
                                          //成功删除后刷新页面
                                            success:function(){
                                                location.href='[[@{/borrow/getborrow/}+${session.user.id}]]'
                                            }
                                        });
                                        }
                                        </script>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
</body>
    
</html>